[submodule "RDFBones-O"]
	path = RDFBones-O
	url = https://github.com/RDFBones/RDFBones-O
[submodule "Standards-SkeletalInventories"]
	path = Standards-SkeletalInventories
	url = git@github.com:RDFBones/Standards-SkeletalInventories.git
[submodule "Phaleron-SkeletalInventory"]
	path = Phaleron-SkeletalInventory
	url = git@github.com:RDFBones/Phaleron-SkeletalInventory.git
[submodule "Standards-Pathologies"]
	path = Standards-Pathologies
	url = git@github.com:RDFBones/Standards-Pathologies.git
[submodule "Phaleron-Pathologies"]
	path = Phaleron-Pathologies
	url = git@github.com:RDFBones/Phaleron-Pathologies.git
[submodule "Phaleron-DentalInventory"]
	path = Phaleron-DentalInventory
	url = git@github.com:RDFBones/Phaleron-DentalInventory.git
[submodule "Phaleron-DentalPathologies"]
	path = Phaleron-DentalPathologies
	url = git@github.com:RDFBones/Phaleron-DentalPathologies.git
[submodule "SucheyBrooksPubicAge"]
	path = SucheyBrooksPubicAge
	url = git@github.com:RDFBones/SucheyBrooksPubicAge.git
[submodule "Phaleron-AgeEstimation"]
	path = Phaleron-AgeEstimation
	url = git@github.com:RDFBones/Phaleron-AgeEstimation.git
[submodule "Phaleron-SexEstimation"]
	path = Phaleron-SexEstimation
	url = git@github.com:RDFBones/Phaleron-SexEstimation.git
[submodule "Phenice-SexEstimation"]
	path = Phenice-SexEstimation
	url = https://github.com/RDFBones/Phenice-SexEstimation
[submodule "Klales-SexEstimation"]
	path = Klales-SexEstimation
	url = https://github.com/RDFBones/Klales-SexEstimation
[submodule "Walker-SexEstimation"]
	path = Walker-SexEstimation
	url = https://github.com/RDFBones/Walker-SexEstimation
[submodule "Standards-SexEstimation"]
	path = Standards-SexEstimation
	url = https://github.com/RDFBones/Standards-SexEstimation
